<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
  <%- include('./partials/nav') %>

  <div class="content all-blogs">

    <h1>Homepage</h1>
    <p>Welcome to the Homepage</p>
  
    <h2>All Blogs</h2>
    <% if(blogs.length > 0) { %>
      <% blogs.forEach(blog => { %>
        <a href="/all-blogs/<%= blog._id %> ">

          <div>
            <h3><%= blog.title %></h3>
            <p><%= blog.snippet %></p>
          </div>

        </a>
      <% }) %>
    <% } else { %>
      <p>There arent any blogs to display</p>
    <% } %>   
    
  </div>

  <%- include('./partials/footer') %>
  
</body>
</html>